extends layout

block content
  h4 Environment Variables
  p.error #{error}
  p.message #{message}
  form(method="post" action="")
       div
        textarea(name="env" style="width:100%; height:60vh" placeholder="Parameter" required) #{textVars}
       div
        button.submit(type="submit" name="update") UPDATE
