doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Welcome to Femi's Autodeployer
    a(href="/" class="main-nav") Environment Variables
    span &nbsp;&nbsp;
    a(href="/logs?log=output"  class="main-nav") Logs
    span &nbsp;&nbsp;
    block content

