body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input.value {
  min-width: 250px;
}
input {
  padding: 5px;
}
button {
  margin-right: 10px;
}
p.error {
  color: red;
  font-weight: bold;
  padding: 10px;
}
button.submit {
  padding: 5px
}
p.message {
  color: blue;
}